/* Signin.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.overlay.active {
    display: block;
}

.highlight {
    position: relative;
    z-index: 2;
}